{% extends 'layout.html' %} {% block title %} Welcome ! {% endblock title %} {% block header %}
<div class="button-div">
  <a class="btn-sign-in btn-w" href="/login">SIGN IN</a>
  <a class="btn-sign-up btn-w" href="/register">SIGN UP</a>
</div>
{% endblock %} {%block main %}

<div class="welcome-page">
  <div class="homepage-elm">
    <h1>Your new password management tool</h1>

    <h2>Save and edit your passwords in a secure place.</h2>

    <a class="btn-sing-up2" href="/register">SIGN UP</a>
  </div>
</div>
{% endblock %}
